<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @account.handle %>,</h1>
    <p>Click the following link to activate your account:</p>
    <% link = "http://localhost:3006/confirmation/#{@account.uuid}" %>
    <a href=<%= link %> target="_blank"><%= link %></a>
  </body>
</html>

